@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

* {
    box-sizing: border-box;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
}
